*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins',sans-serif;
  background:#f8f9ff;
  color:#222;
}


header{
  min-height:100vh;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
  url('https://images.unsplash.com/photo-1521791136064-7986c2920216?q=80&w=1400&auto=format&fit=crop');
  background-size:cover;
  background-position:center;
}

nav{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:25px 8%;
  position:fixed;
  top:0;
  z-index:1000;
  backdrop-filter:blur(10px);
  background:rgba(0,0,0,0.2);
}

nav h1{
  color:white;
  font-size:28px;
}

nav ul{
  display:flex;
  gap:30px;
  list-style:none;
}

nav ul li a{
  text-decoration:none;
  color:white;
  font-weight:500;
  transition:0.3s;
}

}
